{% assign post_excerpt = post.excerpt | strip_html | strip_newlines | strip | truncate: 140 %}

<article class="post-card height-full text-left">
  <p class="post-card__type">Article</p>
  <div class="d-flex flex-justify-between flex-items-start mb-2">
    <h3 class="post-card__title mb-0">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h3>
  </div>
  {% if post_excerpt != "" %}
    <p class="post-card__excerpt">{{ post_excerpt }}</p>
  {% endif %}
  <div class="post-card__footer">
    <div class="post-card__meta">{{ post.date | date: "%b %d, %Y" }}</div>
    <a href="{{ site.baseurl }}{{ post.url }}" class="post-card__action">Read article</a>
  </div>
</article>
