{% include header.html %}

{% if site.layout == 'stacked' %}
  <div class="site-shell site-shell--stacked">
    <section class="site-sidebar site-sidebar--stacked">
      <div class="site-sidebar__inner site-sidebar__inner--stacked">
        {% include masthead.html metadata=true %}
      </div>
    </section>

    <main class="site-main site-main--home">
      <div class="site-main__inner">
        {% unless content == "" %}
          <div class="home-intro">
            {{ content }}
          </div>
        {% endunless %}

        {% include projects.html %}

        {% if site.topics %}
          {% include interests.html %}
        {% endif %}

        {% unless posts_total == 0 %}
          {% include thoughts.html %}
        {% endunless %}
      </div>
    </main>
  </div>
{% else %}
  <div class="site-shell site-shell--sidebar">
    <aside class="site-sidebar">
      <div class="site-sidebar__inner">
        {% include masthead.html metadata=true %}
      </div>
    </aside>

    <main class="site-main site-main--home">
      <div class="site-main__inner">
        {% unless content == ""  %}
          <div class="home-intro">
            {{ content }}
          </div>
        {% endunless %}

        {% include projects.html %}

        {% if site.topics %}
          {% include interests.html %}
        {% endif %}

        {% unless posts_total == 0 %}
          {% include thoughts.html %}
        {% endunless %}
      </div>
    </main>
  </div>
{% endif %}

{% include footer.html %}
